head
{
  padding: 10px;
}

.head1{
  display: flex;
}

.head2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}

#search-jumia{
  padding: 10px;
  width: 450px;
}

#button-jumia{
  padding: 10px;
  background-color: darkorange;
  color: white;
  border: none;
}

a{
  text-decoration: none;
  color: black;
}

.jumia-acc{
  display: flex;
  flex-direction: column;
  width: 30%;
}

.acc-links{
  padding: 10px;
}

.good{
  display: flex;
}

.desc
{
  padding: 10px;
}

.jumia-desc
{
  display: flex;
  justify-content: space-around;
}

.jumia-shop{
  width: 65%;
}